<footer class="footer">
   <small>
       <a href="http://tak-msk.strikingly.com/">My page</a>
       by Tak Msk
   </small>
   <nav>
   <ul>
       <li><%= link_to "About", about_path %></li>
       <li><%= link_to "Contact", contact_path %></li>
       <li><a href="https://www.facebook.com/tak.msk">facebook</a></li>
   </ul>
   </nav>
</footer>
